@-moz-document regexp("chrome-extension://.*"), regexp("moz-extension://.*") {
  /*! Stylus-Dark v1.0. (2018-01-04)
      Repository: https://github.com/overdodactyl/Stylus-Dark
      License:    https://creativecommons.org/licenses/by-sa/4.0/

      Code Mirror based on Firefox */

  body,
  #notes {
      background: #38383d !important;
  	  color: #b1b1b3 !important;
  }

  #header {
      color: #C0C0C0 !important;
      background: #2a2a2e !important;
      border-style: none !important;
  }

  #stylus-popup {
      background: #4a4a4f !important;
      color:#C0C0C0 !important;
  }
  #hotkey-info[data-active] {
      border-left: 2px solid #2a2a2e !important;
  }
  #hotkey-info div {
      border-top: 1px solid #2a2a2e !important;
      background-color: #2a2a2e !important;
  }

  #sections,
  .newUI .target,
  #help-popup {
      color: #b1b1b3 !important;
  }

  body,
  #message-box > div,
  #message-box-buttons,
  #message-box-title,
  #help-popup {
      background: #2a2a2e !important;

  }

  select,
  input:not([type]),
  button {
      font-family: arial,sans-serif !important;
  }

  input[type="checkbox"]:not(.slider) {
      background: #38383d !important;

  }

  input,
  .applies-to li,
  .firefox select,
  .filter-selection select {
      background-color: #38383d !important;
      color: #C0C0C0 !important;
      border: 1px solid #4a4a4f !important;
  }

  button {
  	background: #2a2a2e !important;
  	border: 1px solid !important;
      border-color: #484848 !important;
      color: #C0C0C0 !important;
      border-radius: 3px !important;
  }

  .svg-icon.checked {
      fill: #45a1ff !important;
  }
  button:hover {
      color: #45a1ff !important;
  }

  a,
  a:visited {
      color: #e1e1e1 !important;
  }

  #save-button:after {
      content: 'd' !important;
  }
  body.dirty #save-button:after {
      content: '?' !important;
  }

  .svg-icon:hover,
  .newUI .entry:hover .svg-icon:hover {
      fill: #45a1ff !important;
  }

  #message-box.danger #message-box-title {
      background-color: firebrick !important;
  }

  .newUI .no-update:not(.update-problem):not(.update-done) .up-to-date,
  .newUI .can-update .update {
      color: black !important;
  }

  .svg-icon {
      fill: #b1b1b3 !important;
  }


  #url {
      filter: invert(65%) !important;
  }


  .CodeMirror-gutters {
      background: #38383d !important;
      color: #b1b1b3 !important;
      border-right: none !important;
  }
  .newUI .entry{
      background: #38383d !important;
  }

  .newUI .entry:hover {
      background: #2a2a2e !important;
  }

  .disabled h2::after {
      border: 1px solid #444 !important;
  }

  .svg-icon.select-arrow {
      fill: #C0C0C0 !important;
  }


  .newUI .entry .style-name:hover::before {
      background: transparent !important;
  }

  body.all-styles-hidden-by-filters::before,
  body.all-styles-hidden-by-filters::after{
      color: #45a1ff !important;
  }


  .active #filters-stats {
      background-color: #45a1ff !important;
  	border-color: #45a1ff !important;
  }

  #reset-filters {
      fill: #45a1ff !important;
  }


  /* Code Mirror */

  .CodeMirror {
      border: solid #4a4a4f 1px;
      border-radius: 4px !important;
  }


  .CodeMirror { background: #2a2a2e !important; color: #b1b1b3 !important; }
  div.CodeMirror-selected { background: #353B48 !important; }
  .CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #353B48 !important; }
  .CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #353B48 !important; }
  .CodeMirror-gutters { background: #2a2a2e !important; border-right: 0px solid #4a4a4f !important; }
  .CodeMirror-guttermarker { color: #555 !important; } /*Don't Know what this is */
  .CodeMirror-guttermarker-subtle { color: #555 !important; }
  .CodeMirror-linenumber { color: #939393 !important; }
  .CodeMirror-cursor { border-left: 1px solid #fff !important; }

  span.cm-comment { color: #939393 !important; }
  span.cm-atom { color: #FF7DE9 !important; }
  span.cm-quote { color: #FF7DE9 !important; }
  span.cm-builtin { color: #FF7DE9 !important; }
  span.cm-attribute { color: #FF7DE9 !important; }
  span.cm-keyword { color: #FF7DE9 !important; }
  span.cm-error { color: #FF7DE9 !important; }

  span.cm-number { color: #6B89FF !important; }
  span.cm-string { color: #6B89FF !important; }
  span.cm-string-2 { color: #6B89FF !important; }

  span.cm-meta { color: #939393 !important; }
  span.cm-hr { color: #939393 !important; }

  span.cm-header { color: #75BFFF !important; }
  span.cm-qualifier { color: #75BFFF !important; }
  span.cm-variable-2 { color: #75BFFF !important; }

  span.cm-property { color: #86DE74 !important; }

  span.cm-def { color: #75BFFF !important; }
  span.cm-bracket { color: #75BFFF !important; }
  span.cm-tag { color: #75BFFF !important; }
  span.cm-link:visited { color: #75BFFF !important; }

  span.cm-variable { color: #B98EFF !important; }
  span.cm-variable-3 { color: #d7d7db !important; }
  span.cm-link { color: #737373 !important; }
  span.cm-operator { color: #b1b1b3 !important; }
  span.cm-special { color: #d7d7db !important; }

  .CodeMirror-activeline-background { background: rgba(185, 215, 253, .15) !important }
  .CodeMirror-matchingbracket { outline: solid 1px rgba(255, 255, 255, .25) !important; color: white !important; }
}
